
<table class="table">
  <thead>
    <tr>
      <th scope="row">Name</th>
      <th scope="row">Url</th>
      <th scope="row"></th>
    </tr>
  </thead>

  <tbody>
    <% @items_monitor.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.url %></td>
       <td><%= form_tag item_path(item), method: :put do -%>
          <%= hidden_field_tag :status => "not" -%>
          <%= submit_tag 'Remove From monitor' -%>
        ``<%- end -%></td> 
        <td><%= link_to 'Destroy', {:controller => "users",
          :action => "not"},method: 'put'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
